<h2>Servicios</h2>
<section class="services">
   
    <div class="service">
        <i class="fas fa-code"></i>
        <h2>Apoyo Psicométrico</h2>
        <p>Creación de sitios web a medida, utilizando las últimas tecnologías y mejores prácticas de desarrollo.</p>
    </div>

    <div class="service">
        <i class="fas fa-mobile-alt"></i>
        <h2>Terapia</h2>
        <p>Diseño y desarrollo de aplicaciones móviles para iOS y Android, adaptadas a tus necesidades.</p>
    </div>

    <div class="service">
        <i class="fas fa-chart-bar"></i>
        <h2>Servicio 3</h2>
        <p>Mejora la visibilidad de tu sitio web en los motores de búsqueda y aumenta el tráfico orgánico.</p>
    </div>
</section><section class="services">
    <div class="service">
        <i class="fas fa-code"></i>
        <h2>Asesoría Psicológica y Terapeutica</h2>
        <p>Creación de sitios web a medida, utilizando las últimas tecnologías y mejores prácticas de desarrollo.</p>
    </div>

    <div class="service">
        <i class="fas fa-mobile-alt"></i>
        <h2>Asesoría Académica</h2>
        <p>Diseño y desarrollo de aplicaciones móviles para iOS y Android, adaptadas a tus necesidades.</p>
    </div>

    <div class="service">
        <i class="fas fa-chart-bar"></i>
        <h2>Asesoría y Gestión de contenido</h2>
        <p>Mejora la visibilidad de tu sitio web en los motores de búsqueda y aumenta el tráfico orgánico.</p>
    </div>
</section>
